.pcGridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.pcCardContainer {
    margin: 30px;
}

.pcItemCardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 10px solid var(--accent-colour);
    border-radius: 20px;
    background-color: var(--off-white);
}

.pcCardTabsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

.pcCardTab {
    flex-grow: 1;
    text-align: center;
    padding: 5px 15px 25px 15px;
    margin: 0 0 -20px 0;
    border: 5px var(--accent-colour);
    border-style: solid solid none solid;
    border-radius: 20px 20px 0px 0px;
    cursor:pointer
}

.pcCardTab:active {
    background-color: var(--accent-colour);
    color: var(--off-white);
}

.pcCardTab:hover {
    background-color: var(--accent-colour);
    color: var(--off-white);
}

.pcItemDisplayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100%;
    background-color: var(--accent-colour);
    color: var(--off-white);
}

.pcItemDisplayButtonsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pcItemDisplayButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0 20px 0 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.pcItemValueContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pcClickable:hover {
    cursor: pointer;
    color: var(--off-white);
    background-color: var(--accent-colour);
}

.pcLegendaryListContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: scroll;

    width: 100%;
    height: 100%;
    border-radius: 10px;

    background-color: var(--accent-colour);
    color: var(--off-white);
}

.pcLegendaryListItemContainer {
    background-color: var(--off-white);
    color: var(--accent-colour);
    border-radius: 10px;
    margin: 5px 0px 5px 0px;

    border: 3px solid var(--off-white);
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}

.pcLegendaryListItemIcon {
    margin: 5px;
    border-radius: 10px;
}

.pcLegendaryListItemName {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.pcGenButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: var(--accent-colour);
}

.pcGenButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 47%;
    
    border: 3px solid var(--off-white);
    border-radius: 10px;

    background-color: var(--off-white);
    color: var(--accent-colour);

    font-size: 75pt;
}

.percentageSlider {
    appearance: none;
    cursor: pointer;
    width: 85%;
    height: 30px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 20px;
    background-color: var(--off-white);
}

.percentageSlider::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 13px;
    background: var(--accent-colour);
}

.percentageSlider::-moz-range-thumb {
    cursor: pointer;
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 13px;
    background: var(--accent-colour);
}

@media screen and (min-width: 601px) {
    .pcItemCardContainer {
        width: 300px;
        height: 450px;
    }

    .pcLegendaryListItemName {
        font-size: 25px;
    }

    .pcLegendaryListItemIcon {
        width: 64px;
    }

    .pcPlusIcon {
        width: 150px;
    }

    .pcItemDisplayItemName {
        text-align: center;
        font-size: 30pt;
    }
    
    .pcItemDisplayPercentage {
        font-size: 42pt;
    }

    .pcItemDisplayValueGold {
        font-size: xx-large;
    }
    
    .pcItemDisplayValueSilver {
        font-size: x-large;
    }
    
    .pcItemDisplayValueCopper {
        font-size: large;
    }
  }
  
  @media screen and (max-width: 600px) {
    .pcItemCardContainer {
        width: 200px;
        height: 300px;
    }

    .pcCardTab {
        font-size: x-small;
    }

    .pcLegendaryListItemName {
        font-size: 15px;
    }

    .pcLegendaryListItemIcon {
        width: 45px;
    }

    .pcPlusIcon {
        width: 100px;
    }

    .pcItemDisplayItemName {
        text-align: center;
        font-size: 18pt;
    }
    
    .pcItemDisplayPercentage {
        font-size: 30pt;
    }

    .pcItemDisplayValueGold {
        font-size: large;
    }
    
    .pcItemDisplayValueSilver {
        font-size: medium;
    }
    
    .pcItemDisplayValueCopper {
        font-size: small;
    }
  }